body {
    font-family: Helvetica,Arial,sans-serif;
    text-shadow: none !important;
    font-weight: bold;
    text-align: justify;
}
.navbar {
background: -moz-linear-gradient(center top , #454545 0%, #242424 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.login_label {
    display: block;
    float: left;
    width: 150px;
}

.error-message {
    color:red;
}


.users tr {

}

#newRole div.input.select {
    float:left;
}

.flashmsg{
    color:green;
}

.flasherrormsg {
    color:red;
}