body {
    font-family: Helvetica,Arial,sans-serif;
    text-shadow: none !important;
    font-weight: bold;
    text-align: justify;
}
.navbar {
background: -moz-linear-gradient(center top , #454545 0%, #242424 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.login_label {
    display: block;
    float: left;
    width: 150px;
}

.error-message {
    color:red;
}


.users tr {

}

#newRole div.input.select {
    float:left;
}

.flashmsg{
    color:green;
}

.flasherrormsg {
    color:red;
}

.homeSlider {
    float:left;
    width:55%;
}

.sliderPic{
    height:400px;
}

#mapIframe {
    height:300px;
}

#mapIframe_location{
    height:350px;
}

#visitUs {
    width:45%;
    float:left;
}

.address {
    font-size: 12px;
    max-width: 120px;
    text-wrap: normal;
}

#locations {
    width:420px;
    margin:auto;
}

.location-style {
    margin: 10px 0;
    padding: 5px 5px;
    text-transform: uppercase;
    text-align: center;
    color: #444444;
    float:left;
}

.location-style.selected{
    background: #dddddd;
    text-decoration:none;
    color: black;
}

.location-style:hover {
    text-decoration: none;
    color:black !important;
}

.kungfuAnim {
    float:left;
    border:black solid 1px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin-right:10px;
}

@media (max-width: 980px) {
    .location-style {
        font-size: 12px !important;
        font-weight: normal !important;
        align: center;
        margin: 5px 0;
        padding: 5px 10px;
        text-shadow:none;
    }
    .address {
        font-size: 10px !important;
        max-width: 90px;
    }
    #locations {
        width:430px;
        margin:auto;
    }
}

@media (max-width:800px) {
    #mapIframe {
        clear:both;
        height:400px;
    }
    #locations {
        width:360px;
        margin:auto;
    }
}

@media (max-width: 768px) {
    .homeSlider {
        width: 100%;
    }

    #visitUs {
        width:100%;
    }

    .sliderPic {
        height: 300px;
    }

    #mapIframe {
        clear:both;
        height:420px;
    }

    #visitUs {
        height:500px;
    }
}

@media (max-width: 360px) {
    #mapIframe {
        clear:both;
        height:455px;
    }

    .sliderPic {
        height: 200px;
    }
}