// Variables

// Font Size
$fontSize: 15px;

// Colors

$color1: #9f6519; // Gold
$color2: #009a69; // Green
$color3: #e52020; // Red
$color4: #fbb031; // Orange
$color5: #0084bd; // Blue

$black: #000;
$white: #FFF;
$gray: #e7e8ea;